@model BP.VM.PullModels.Authentication.LoginAccountStep1
@{
    ViewBag.Title = "Login Step One";
}

<h2>Login Step One</h2>

<p>You're IP Address is @ViewBag.IPAddress</p>

<p>Please use the form below to log in.</p>
<p>To protect your account, this is a two step process.</p>

@using (Html.BeginForm("Login", "Identity", new { area = "Auth" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Login Step One</h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-1">
            <input type="submit" class="btn btn-primary" value="Next" />
        </div>
        <div class="col-md-1">
            @Html.ActionLink("Need an account?", "Register", new { area = "Auth", controller = "Identity", action = "Register" }, htmlAttributes: new { @class = "btn btn-info" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}