@model IEnumerable<BP.VM.ViewModels.Business.BusinessViewModel>
@{
    ViewBag.Title = "View Businesses";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Create a new business", "CreateBusiness", new { area = "Admin", controller =  "BusinessAdmin" })

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-2">
            Business Name
        </div>
        <div class="col-md-3">
            Business Type
        </div>
        <div class="col-md-2">
            Logins
        </div>
        <div class="col-md-4">

        </div>
    </div>
    @foreach(var business in Model.Select((value, index) => new { value, index }))
    {
        var classString = "background-color: gainsboro";
        if (business.index % 2 == 0)
        {
            classString = "";
        }
        <div class="row" style="@classString">
            <div class="col-md-2">
                @business.value.Name
            </div>
            <div class="col-md-3">
                @business.value.BusinessType.Name
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                @foreach (var login in business.value.Logins)
                {
                    <li>@login.Name</li>
                }
                </ul>
            </div>
            <div class="col-md-4">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic Example">
                    @Html.ActionLink("Details", "BusinessDetails", new { controller = "BusinessAdmin", area = "Admin", id = business.value.ID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Edit", "EditBusiness", new { controller = "BusinessAdmin", area = "Admin", id = business.value.ID }, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Delete", "DeleteBusiness", new { controller = "BusinessAdmin", area = "Admin", id = business.value.ID }, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    }
</div>