@model BP.Web.Models.CreateUser
@{
    ViewBag.Title = "Create A New User";
}

<h2>Create A New User</h2>

@using (Html.BeginForm("CreateUsers", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new user.</h4>
    <p>Your IP Address is @ViewBag.IPAddress</p>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-lable" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Use unique name or email" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-lable" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", placeholder = "Properly formatted email address" })
            @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PassWord, new { @class = "col-md-2 control-lable" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.PassWord, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PassWord, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedRole, new { @class = "col-md-2 control-lable" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SelectedRole, Model.Roles, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SelectedRole, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
            @Html.RouteLink("Back to list", new { controller = "Manage", action = "Users", area = "" })

        </div>
    </div>
}